.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  padding: calc((100vh * 3) / 100) calc((100% * 2.1) / 100);
  margin-top: calc((100vh * 10) / 100);
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.header{
  position: absolute;
  width: 100%;
  height: calc((100vh * 9.4) / 100);
  left: 0px;
  top: 0px;
  background: #1C1E1F;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  padding: calc((100vh * 1.7) / 100) calc((100% * 2.1) / 100);
}

.searchBar{
  width: calc((100% * 20.4) / 100);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  background: #181A1C;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.inputSearch{
  background: #181A1C;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  border: none;
  &:before{
    border: none;
  }
  &:focus{
    outline: none;
  }
}

.rightInfo{
  width: calc((100% * 27) / 100);
  display: flex;
  justify-content: space-between;
}

.containerSettings{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.line{
  width: 1px;
  height: 100%;
  background: #FFFFFF;
  margin-right: 54px;
}

.txtAvatar{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #FFFFFF;
}

.actionInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}


.chatBox{
  overflow-y: auto;
  height: 84vh;
  width: calc((100% * 20.4) / 100);
  background: #1C1E1F;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.profileBox{
  height: calc(100vh * 30 / 100);
  width: calc((100% * 20.4) / 100);
  background: #1C1E1F;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.listChat{
  width: 100%;
  height: calc(100vh * 10 / 100);
  border-bottom: 1px solid #161819;
  padding: 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  &:hover{
    background: #161819;
  }
}

.chatTitle{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titleProfile{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 14px;
  /* identical to box height */


  color: #FFFFFF;
}

.number{
  margin-top: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.chatTitleText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #FFFFFF;

}
.chatTitleSubText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */


  color: #FFFFFF;

  opacity: 0.5;

}

.chatTime{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  text-align: right;

  color: #FFFFFF;

  opacity: 0.5;
}

.message{
  height: 84vh;
  width: calc(100% - ((100% * 20.4) / 100) * 2);
  background: transparent;
  display: flex;
  flex-direction: column;
}

.listMessage{
  height: 85%;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.containerMessage{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.start{
  align-items: start;
}
.end{
  align-items: end;
}

.messageText{
  display: flex;
  background: #181A1C;
  border-radius: 12px;
  padding: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  &:before{
    content:url('/icons/polygon.svg'); /* with class ModalCarrot ??*/
    position:absolute;
    margin-left: -22px;
  }
}

.messageTextEnd{
  display: flex;
  background: #1C1E1F;
  border-radius: 12px;
  padding: 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  &:after{
    content:url('/icons/polygon2.svg'); /* with class ModalCarrot ??*/
    position:relative;
    right: -22px;
    text-align: right;
    float:right;
  }
}

.avatarImage{
  border-radius: 28px;
}
.avatarBigImage{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  align-self: center;
}

.messageBox{
  width: 100%;
  height: 15%;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}


.emoticon{
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
  background: #1C1E1F;
}
.containerEmoticon{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.inputMessageBox{
  width: 100%;
  height: 60px;
  background: #1C1E1F;
  box-shadow: 0px 4px 20px -5.71709px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 14px 20px;
}
.inputMessage{
  width: 100%;
  height: 100%;
  background: transparent;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #FFFFFF;

  opacity: 0.5;
  &:focus{
    outline: none;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
